{% extends 'base.html'  %}

{% block title %}
Talaba qo'shish
{% endblock title %}

{% block content %}
<div class="row mt-4">
    <div class="col-md-6 offset-md-3 ">
        <div class="card">
            <div class="card-header text-center"><h3>{{ group.name }} guruhiga talaba qo'shish</h3></div>
            <div class="card-body">
                <form method="post" >
                    {% csrf_token %}
                    <div class="form-group mt-3">
                        <label for="first_name">Ism</label>
                        <input required type="text" class="form-control" id="first_name" name="first_name">
                      </div>
                      <div class="form-group mt-3 ">
                        <label for="last_name">Familiya</label>
                        <input   type="text" class="form-control" id="last_name" name="last_name">
                      </div>
                      <div class="form-group  mt-3">
                        <label for="phone_number">Telefon raqam</label>
                        <input required type="text" class="form-control" id="phone_number" name="phone_number">
                      </div>
                    <div class="form-group  mt-3">
                        <label for="phone_number2">Qo'shimcha telefon raqam</label>
                        <input  type="text" class="form-control" id="phone_number2" name="phone_number2">
                      </div>


                     <div class="w-100 text-end"><button  type="submit" class="btn btn-primary mt-4">Yuborish</button></div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}