{% extends 'base.html' %}
{% block title %}
Parol o'zgartirish
{% endblock title %}
{% block content %}
<div class="row mt-4">
    <div class="col-md-6 offset-md-3 col-8 offset-2">
        <div class="card">
            <div class="card-header text-center "><h3>Parol o'zgartirish</h3></div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                     <div class="form-group mt-3">
                    <label for="username" class="form-label">Username</label>
                    <input class="form-control"  readonly id="username" type="text" placeholder="{{ user.username }}" name="">
                </div>
                <div class="form-group mt-3">
                    <label for="first_name" class="form-label">Ism</label>
                    <input  class="form-control" readonly id="first_name" type="text" placeholder="{{ user.first_name }}" name="">
                </div>
                <div class="form-group mt-3">
                    <label for="last_name" class="form-label">Familiya</label>
                    <input  class="form-control" readonly id="last_name" type="text" placeholder="{{ user.last_name }}" name="">
                </div>
                <div class="form-group mt-3">
                    <label for="password" class="form-label">Parol</label>
                    <input  class="form-control" required id="password" name="password" type="text"  name="password">
                </div>
                <div class="w-100 text-end mt-3"><button type="submit" class="btn btn-primary" >Yuborish</button></div>
                </form>
               

            </div>
        </div>
    </div>
</div>
{% endblock %}