{% extends 'base.html' %}
{% block title %}Payment{% endblock title %}
{% block content %}
<div class="row mt-4" >
    <div class="col-6 offset-3" >
        <div class="card" >
            <div class="card-header" >
                <h1>Payment</h1>
            </div>
            <div class="card-body" >
                <form method="post" >
                    {% csrf_token %}
                    <div class="form-group pt-2 mt-2" >
                        <label for="username">Username</label>
                        <input type="text" value="{{ user.username }}" class="form-control" id="username" name="username" readonly placeholder="{{ user.username }}">
                    </div>
                    <div class=" mt-2 form-group pt-2" >
                        <label for="first_name">First name</label>
                        <input type="text" class="form-control" id="first_name" name="first_name" readonly placeholder="{{ user.first_name }}">
                    </div>
                    <div class="form-group mt-2 pt-2 " >
                        <label for="last_name">Lastname</label>
                        <input type="text" class="form-control" id="last_name" name="last_name" readonly placeholder="{{ user.last_name }}">
                    </div>
                    <div class="form-group mt-2 pt-2" >
                         <label for="group">Guruh</label>
                            <select required name="group" class="form-control" id="group">
                              {% for group in groups %}
                                 <option value="{{ group.group.id }}" >{{ group.group }}--{{ group.group.pay }}</option>
                                {% endfor %}
                            </select>
                    </div>
                    <div class="mt-2 pt-2" ></div>
                    <label>Summa</label>
                    <div class="d-flex" >

                        <div class="col w-50  p-1 " >
                             <label for="cash" >Naqt pul</label>
                            <input required id="cash" type="number" value="0" min="0" class="form-control"  name="cash"  >
                        </div>
                        <div class="col w-50 p-1 " >
                             <label for="card" >Karta</label>
                        <input required value="0" id="card" min="0" type="number" class="form-control"  name="card"  >
                        </div>
                    </div>
                    <div class="form-group mt-2 pt-2" >
                         <label for="date">Vaqt</label>
                        <input required type="date" id="date" class="form-control"  name="date"  >
                    </div>
                    <button type="submit" class="btn btn-warning mt-4 " >Yuborish</button>
                </form>

            </div>
            <div class="card-footer" >
                {% for group_student in group_students %}
                    <div class="text-danger" > {% if group_student.sale == True %} Chegirma mavjud: To'lov summasi-{{ group_student.count }}{% endif %}  </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}
