{% extends 'base.html' %}
{% block title %}
Statistika
{% endblock title %}

{% block content %}

<div class="row mt-4">
    <div class="col-md-6 offset-md-3 col-6 p-2 ">
        
            <div class="card text-center">
            
                <div class="card-header ">
                    <div class="w-100  mt-1 tag-icon "><i class="bi bi-coin"></i></div>
                    <div class="w-100 fw-bold  mt-1" >Moliya</div>
                    
                    
                </div>
                <div class="card-body text-start">
                    <p><b>Umumiy:</b> {{ all_money.count }} ( {{ r_money }} )</p>
                    <p><b>Naqt pul:</b> {{ all_cash.count }} ( {{ r_cash }} )</p>
                    <p><b>Karta:</b> {{ all_card.count }} ( {{ r_card }} )</p>
                </div>
            </div> 
             
    </div>
</div>
<div class="row py-2 mt-2">
    <div class="col-4 ">
        <form class="d-flex" method="get">
            <select name="year" class="form-control">
                <option> {{ now_year }} </option>
                {% for year in years %}
                <option value="{{ year }}">{{ year }}</option>
                {% endfor %}
            </select>
            <select class="form-control mx-2" name="month">
                {% for month in months %}
                <option value="{{ month }}">{{ month }}</option>
                {% endfor %}
            </select>
            <button class="btn btn-primary">Saralash</button>
        </form>
    </div>
</div>
<div class="row mt-4">
    <col-12 class="text-center p-2 mt-4"><h4>{{ year }}-yil {{ month }} oyi uchun</h4></col-12>
    <div class="col-md-6  col-12 p-2 ">
        
            <div class="card text-center">
            
                <div class="card-header ">
                    <div class="w-100  mt-1 tag-icon "><i class="bi bi-cash-coin"></i></div>
                    <div class="w-100 fw-bold  mt-1" >Xarajatlar</div>
                    
                    
                </div>
                <div class="card-body text-start">
                    <p><b>Umumiy:</b>{{ sp_count }}</p>
                    <p><b>Naqt pul:</b>{{ sp_cash }}</p>
                    <p><b>Karta:</b> {{ sp_card }}</p>
                </div>
            </div> 
             
    </div>

    <div class="col-md-6  col-12 p-2 ">
        
        <div class="card text-center">
        
            <div class="card-header ">
                <div class="w-100  mt-1 tag-icon "><i class="bi bi-cash"></i></div>
                <div class="w-100 fw-bold  mt-1" >Berilgan oylik</div>
                
                
            </div>
            <div class="card-body text-start">
                <p><b>Umumiy:</b> {{ sl_count }}</p>
                <p><b>Naqt pul:</b> {{ sl_cash }}</p>
                <p><b>Karta:</b> {{ sl_card }}</p>
            </div>
        </div> 
         
</div>
</div>

<div class="row mt-4">
    <div class="mt-3 col-12 text-center"><h4>Berilgan oyliklar</h4></div>
    {% for salary in salaries %}
        <div class=" col-md-3 p-2 col-6">
            <div class="card">
                <div class="card-header"><b> {{ salary.teacher.first_name }} {{ salary.teacher.last_name }}</b></div>
                <div class="card-body">
                    <p><b>Yil:</b> {{ salary.year }}</p>
                    <p><b>Oy:</b>  {{ salary.month }}</p>
                    <p><b>Umumiy:</b>  {{ salary.count }} so'm</p>
                    <p><b>Naqt pul:</b> {{ salary.cash }}</p>
                    <p><b>Karta:</b> {{ salary.card }}</p>

                </div>
                <div class="card-footer">{{ salary.created_date }}</div>
            </div>
        </div>
    {% endfor %}
</div>

<div class="row mt-4">
    <div class="mt-3 col-12 text-center"><h4>Xarajatlar</h4></div>
    {% for spending in spendings %}
        <div class=" col-md-3 p-2 col-6">
            <div class="card">
                <div class="card-header"><b> {{ spending.user.first_name }} {{ spending.user.last_name }}</b></div>
                <div class="card-body">
                    <p><b>Xarajat Turi:</b> {{ spending.for_smt }}</p>
                    <p><b>Kamment:</b>  {{ spending.camment }}</p>
                    <p><b>Umumiy:</b>  {{ spending.count }} so'm</p>
                    <p><b>Naqt pul:</b> {{ spending.cash }}</p>
                    <p><b>Karta:</b> {{ spending.card }}</p>

                </div>
                <div class="card-footer">
                    {{ spending.created_date }}
                </div>
            </div>
        </div>
    {% endfor %}
</div>





{% endblock content %}

